<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h2>Prijava</h2>
    </div>
    <form #loginForm="ngForm">
      <div>
        <input
          type="text"
          class="fadeIn second"
          name="email"
          id="email"
          [(ngModel)]="loginData.email"
          #email="ngModel"
          placeholder="Email"
          required
        />
        <span
          class="validation-message"
          style="text-align: center; display:block;"
          *ngIf="email.hasError('required') && email.touched"
          class="text-danger"
          >Email je obavezan</span
        >
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          class="fadeIn third"
          [(ngModel)]="loginData.password"
          #password="ngModel"
          placeholder="Lozinka"
          required
        />
        <span
          class="validation-message"
          style="text-align: center; display:block;"
          *ngIf="password.hasError('required') && password.touched"
          class="text-danger"
          >Lozinka je obavezna</span
        >
      </div>
      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="fadeIn fourth"
        (click)="onLogin()"
      >
        Prijavi se
      </button>
    </form>
    <div id="formFooter">
      Nemas nalog?
      <a class="underlineHover" routerLink="/register">Registruj se</a>
    </div>
  </div>
</div>
