<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <h2>Registracija</h2>
    </div>
    <form #signUpForm="ngForm">
      <input
        type="text"
        name="firstName"
        [(ngModel)]="userData.firstName"
        id="firstName"
        #firstName="ngModel"
        class="fadeIn second"
        placeholder="Ime *"
        required
      />
      <span
        *ngIf="firstName.hasError('required') && firstName.touched"
        class="text-danger"
        style="text-align: center; display:block;"
      >
        Ime je obavezno
      </span>
      <input
        type="text"
        name="lastName"
        [(ngModel)]="userData.lastName"
        id="lastName"
        #lastName="ngModel"
        class="fadeIn second"
        placeholder="Prezime *"
        required
      />
      <span
        *ngIf="lastName.hasError('required') && lastName.touched"
        class="text-danger"
        style="text-align: center; display:block;"
      >
        Prezime je obavezno
      </span>
      <input
        type="email"
        name="email"
        [(ngModel)]="userData.email"
        id="email"
        #email="ngModel"
        class="fadeIn second"
        placeholder="Email *"
        email
        required
      />
      <span
        *ngIf="email.hasError('required') && email.touched"
        class="text-danger"
        style="text-align: center; display:block;"
        >Email je obavezan</span
      >
      <span
        *ngIf="email.hasError('email') && email.touched"
        class="text-danger"
        style="text-align: center; display:block;"
        >Email mora biti validna email adresa</span
      >
      <input
        type="password"
        name="password"
        [(ngModel)]="userData.password"
        id="password"
        #password="ngModel"
        class="fadeIn second"
        placeholder="Lozinka *"
        minlength="6"
        required
      />
      <span
        *ngIf="password.hasError('required') && password.touched"
        class="text-danger"
        style="text-align: center; display:block;"
        >Lozinka je obavezna</span
      >
      <span
        *ngIf="password.hasError('minLength')"
        class="text-danger"
        style="text-align: center; display:block;"
        >Lozinka mora sadrzati najmanje 6 karaktera</span
      >
      <input
        type="password"
        name="repeatPassword"
        [(ngModel)]="rPassword"
        id="repeatPassword"
        #repeatPassword="ngModel"
        class="fadeIn second"
        placeholder="Ponovi lozinku *"
        minlength="6"
        required
      />
      <span
        *ngIf="repeatPassword.hasError('required') && repeatPassword.touched"
        class="text-danger"
        style="text-align: center; display:block;"
      >
        Ponovna lozinka je obavezna
      </span>
      <span
        *ngIf="repeatPassword.hasError('minLength')"
        class="text-danger"
        style="text-align: center; display:block;"
        >Lozinka mora sadrzati najmanje 6 karaktera</span
      >
      <button
        [disabled]="!signUpForm.valid"
        type="submit"
        class="fadeIn fourth"
        (click)="onRegister()"
      >
        Registruj se
      </button>
    </form>
    <div id="formFooter">
      Imaš nalog? <a class="underlineHover" routerLink="/login">Prijavi se</a>
    </div>
  </div>
</div>
